body {
  background: #fff;
  /* background-image: linear-gradient(90deg, #f0eff3, #ecf0f5f8); */

}

.main-header {
  position: relative;
  z-index: 2;
  padding: 0.67rem 0 0;
  color: #fff;
  
  background-color: #180070;
  background-image: linear-gradient(90deg, #0b0033, #39536e);
  margin: auto;
  padding: 10px 50px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
}


.circle {
  position: absolute;
  border-radius: 50%;
  background: rgb(18, 29, 88);
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 300px;
  height: 300px;
  left: -150px;
  bottom: -150px;
}

.large {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.xlarge {
  width: 500px;
  height: 500px;
  left: -250px;
  bottom: -250px;
}

.xxlarge {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

.no-display {
  display: none;
}

.center {
  margin: auto;
  padding: 10px 50px;
  text-align: center;
  font-size: 14px;
}

.title {
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #262626;
}

.content {
  margin-top: 3em;
}

.analyze {
  margin-top: 2em;
}

.upload-label {
  padding: 10px;
  font-size: 12px;
}

.result-label {
  margin-top: 0.5em;
  padding: 10px;
  font-size: 15px;
}

button.choose-file-button {
  width: 250px;
  height: 60px;
  border-radius: 2px;
  background-color: #4075b1da;
  border: solid 1px #003670;
  font-size: 16px;
  color: #cac3df;
}

button.analyze-button {
  width: 300px;
  height: 40px;
  border: solid 1px #7052cb;
  border-radius: 2px;
  background-color: #003670;
  font-size: 13px;
  color: #ffffff;
}

button:focus {
  outline: 0;
}
