@font-face {
  font-family: Glober;
  font-weight: 400;
  src: url("/fonts/glober-regular.woff2") format("woff2"),
    url("/fonts/glober-regular.woff") format("woff"),
    url("/fonts/glober-regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Glober;
  font-weight: 700;
  src: url("/fonts/glober-xbold.woff2") format("woff2"),
    url("/fonts/glober-xbold.woff") format("woff"),
    url("/fonts/glober-xbold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Calendas Plus;
  src: url("/fonts/calendas_plus-webfont.woff2") format("woff2"),
    url("/fonts/calendas_plus-webfont.woff") format("woff"),
    url("/fonts/calendas_plus-webfont.ttf") format("truetype"),
    url("/fonts/calendas_plus-webfont.svg#calendas_plusregular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Calendas Plus;
  src: url("/fonts/calendas_plus_bold-webfont.woff2") format("woff2"),
    url("/fonts/calendas_plus_bold-webfont.woff") format("woff"),
    url("/fonts/calendas_plus_bold-webfont.ttf") format("truetype"),
    url("/fonts/calendas_plus_bold-webfont.svg#calendas_plusbold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Calendas Plus;
  src: url("/fonts/calendas_plus_italic-webfont.woff2") format("woff2"),
    url("/fonts/calendas_plus_italic-webfont.woff") format("woff"),
    url("/fonts/calendas_plus_italic-webfont.ttf") format("truetype"),
    url("/fonts/calendas_plus_italic-webfont.svg#calendas_plusitalic")
      format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
:root {
  box-sizing: border-box;
}
@media (min-width: 500px) {
  :root {
    font-size: 1.2rem;
  }
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  color: #001933;
  background-color: #16191d;
  line-height: 1.7;
  font-family: Calendas Plus, Times New Roman, serif;
  letter-spacing: 0.01em;
}
img {
  max-width: 100%;
}
h1,
h2,
h3 {
  color: #102d4c;
  font-family: Glober, Helvetica, sans-serif;
  letter-spacing: -0.02em;
}
h1 a:link,
h1 a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited {
  color: inherit;
  font: inherit;
}
h1 {
  font-size: 2rem;
}
a {
  color: #2b78ca;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}
a,
a:visited {
  transition: color 0.1s linear;
}
a:visited {
  color: #446f9c;
}
a:hover {
  color: #0d57a5;
}
a:active {
  color: #f00544;
}
h1 a,
h2 a,
h3 a {
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}
h1 a:active,
h1 a:hover,
h2 a:active,
h2 a:hover,
h3 a:active,
h3 a:hover {
  text-decoration: underline;
}
button,
input {
  font: inherit;
}
code {
  font-size-adjust: 0.4;
}
pre > code {
  color: #d5d9dd;
  font-family: Fira Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size-adjust: 0.45;
  line-height: 1.5;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}
::-moz-selection {
  background-color: #ffb3c7;
}
::selection {
  background-color: #ffb3c7;
}
hr {
  position: relative;
  background-color: #2b78ca;
}
hr,
hr:after,
hr:before {
  width: 0.6rem;
  height: 0.6rem;
  border: 0;
  border-radius: 50%;
}
hr:after,
hr:before {
  content: "";
  position: absolute;
  top: 0;
}
hr:before {
  left: -1.4rem;
  background-color: #2b89ee;
}
hr:after {
  right: -1.4rem;
  background-color: #0d57a5;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.svg-link:link,
.svg-link:visited {
  text-decoration: none;
}
.svg-link + .svg-link {
  margin-left: 0.4em;
}
code[class*="language-"],
pre[class*="language-"] {
  background: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #202428;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog,
.token.punctuation {
  color: #98a0a9;
}
.namespace {
  opacity: 0.7;
}
.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: #f1ba7e;
}
.token.boolean,
.token.number,
.token.variable {
  color: #78a4d3;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector {
  color: #c0d8f2;
}
.token.string {
  color: #dbb994;
}
.token.entity,
.token.important,
.token.operator,
.token.url {
  color: #727a83;
}
.token.atrule,
.token.attr-value,
.token.regex {
  color: #e16b8a;
}
.token.function {
  color: #c0d8f2;
}
.token.keyword {
  color: #78a4d3;
}
.token.bold {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.keyword-this,
.token.pseudo-element {
  color: #fd4e7d;
}
.token.keyword-await,
.token.keyword-catch,
.token.keyword-try {
  color: #727a83;
}
.token.class-name {
  color: #c0d8f2;
}
code[class*="language-css"],
pre[class*="language-css"] {
  color: #78a4d3;
}
code[class*="language-css"] .token.function,
pre[class*="language-css"] .token.function {
  color: #e16b8a;
}
code[class*="language-js"],
pre[class*="language-js"] {
  color: #78a4d3;
}
code[class*="language-js"] .token.keyword,
pre[class*="language-js"] .token.keyword {
  color: #727a83;
}
.token.comment {
  display: inline;
}
.loading-indicator {
  position: relative;
}
.loading-indicator:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 1em;
  border-radius: 50%;
  background-color: #446f9c;
  vertical-align: -0.1em;
  -webkit-animation: pulse 1s ease-in-out infinite;
  animation: pulse 1s ease-in-out infinite;
}
.loading-indicator:empty:before {
  position: absolute;
  top: 0.4em;
  left: 1em;
}
.loading-indicator--standalone {
  padding: 1em 0;
}
.loading-indicator--standalone:before {
  position: static;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.interaction-alert {
  border-radius: 0.8rem;
  font-size: 1rem;
  font-family: Glober, Helvetica, sans-serif;
  text-align: center;
  box-shadow: 0 1px 2px rgba(215, 117, 197, 0.02);
}
.list-heading {
  grid-column: 1/-1;
  margin: 0;
  padding: 1rem 2rem;
  color: #06a7a5;
  font-size: 1.56rem;
  line-height: 1;
  text-align: center;
}
@media (min-width: 500px) {
  .list-heading {
    text-align: left;
  }
}
.l-homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #001933, #102d4c 30%, #22ddd9);
  background-color: #004746;
  min-height: calc(100vh - 4rem);
}
@media (min-width: 800px) {
  .l-homepage {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.l-homepage__inner {
  --right-margin: 1rem;
  display: grid;
  grid-template-columns: 50% auto var(--right-margin);
  grid-template-rows: auto auto auto;
  width: 100%;
  height: 100%;
  font-family: Glober, Helvetica, sans-serif;
}
@media (min-width: 400px) {
  .l-homepage__inner {
    --right-margin: 2rem;
  }
}
@media (min-width: 500px) {
  .l-homepage__inner {
    grid-template-rows: auto 60vmin auto;
  }
}
@media (min-width: 750px) and (min-height: 600px) {
  .l-homepage__inner {
    --right-margin: 6rem;
  }
}
.l-article {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fff;
}
@media (min-width: 700px) {
  .l-article {
    display: grid;
    grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(
        1em,
        48rem
      ) [main-end] minmax(1em, 1fr) [full-end];
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
.l-article__inner {
  --article-inset: 1em;
  grid-column: main;
  padding: 0 var(--article-inset);
}
@media (min-width: 700px) {
  .l-article__inner {
    --article-inset: 3em;
  }
}
.list-bg {
  background-color: #003670;
  background-image: linear-gradient(90deg, #001933, #003670);
}
.list-bg:after {
  content: " ";
  display: table;
}
.l-list {
  padding: 2rem 0;
  display: grid;
  grid-gap: 1.56rem 1.25rem;
  grid-template-columns: [full-start] 1fr [full-end];
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 500px) {
  .l-list {
    padding: 4rem;
    grid-template-columns: [full-start] repeat(auto-fill, 21em) [full-end];
  }
}
.l-list__item {
  max-width: 100vw;
}
.l-list__pagination {
  grid-column: 1/-1;
}
.l-list__pagination > a {
  display: block;
}
.l-notes-list {
  margin: 0 auto 6rem;
  max-width: 28em;
  border-radius: 50%/1.6rem;
  padding: 1.6em 0;
}
.l-notes-list:after,
.l-notes-list:before {
  content: "";
  display: block;
  height: 1.6rem;
  background-color: #fff;
}
.l-notes-list:before {
  border-top-right-radius: 50% 1.6rem;
  border-top-left-radius: 50% 1.6rem;
}
.l-notes-list:after {
  border-bottom-right-radius: 50% 1.6rem;
  border-bottom-left-radius: 50% 1.6rem;
}
.l-notes-list__item + .l-notes-list__item .note {
  border-top: 1px solid #d5d9dd;
}
.l-notes-list__prev {
  border-bottom: 1px solid #d5d9dd;
}
.l-notes-list__next {
  border-top: 1px solid #d5d9dd;
}
.l-notes-list__next > a:link,
.l-notes-list__next > a:visited,
.l-notes-list__prev > a:link,
.l-notes-list__prev > a:visited {
  display: block;
  padding: 1rem 0;
  color: #78a4d3;
  background-color: #fff;
  font-family: Glober, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}
.l-notes-list__next > a:hover,
.l-notes-list__prev > a:hover {
  color: #2b89ee;
}
.l-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 3.6rem);
  background-color: #003670;
  background-image: radial-gradient(#00254d 10%, transparent),
    linear-gradient(90deg, #003670, #0d57a5);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.l-note__inner {
  width: 35rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  border-radius: 0.3rem;
  font-family: Glober, Helvetica, sans-serif;
  font-size: 1.4rem;
}
.l-error {
  background-color: #fff;
}
.l-error__image {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
.l-error__image > img {
  max-height: 60vmin;
}
.l-error__inner {
  padding: 2rem;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.l-error__inner h1 {
  margin-top: 0;
}
@media (min-width: 800px) {
  .l-error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .l-error__image {
    text-align: right;
  }
  .l-error__image > img {
    max-height: 80vh;
  }
}
.main-header {
  position: relative;
  z-index: 2;
  padding: 0.67rem 0 0;
  color: #fff;
  background-color: #003670;
  background-image: linear-gradient(90deg, #001933, #003670);
}
@media (min-width: 700px) {
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0.67rem;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.title-bar {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title-bar > a:link,
.title-bar > a:visited {
  display: block;
  padding: 0.6em 1.6em 0.6em 1rem;
  border: 1px solid transparent;
  border-width: 1px 1px 1px 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: #51a3fb;
  background-color: #102d4c;
}
.title-bar > a:link:focus,
.title-bar > a:link:hover,
.title-bar > a:visited:focus,
.title-bar > a:visited:hover {
  border-color: #446f9c;
  text-decoration: none;
  outline: none;
}
@media (min-width: 700px) {
  .title-bar > a:link,
  .title-bar > a:visited {
    padding: 0.6em 1.6em 0.6em 2rem;
  }
}
.title-bar svg {
  height: 1.2em;
  margin-right: 0.4em;
  vertical-align: -0.2em;
}
.title-bar .loading-indicator {
  position: static;
}
.title-bar .loading-indicator:before {
  display: none;
}
.title-avatar {
  width: 1.6em;
  height: 1.6em;
  margin-left: -1em;
  border-radius: 50%;
  vertical-align: -0.4em;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-title {
  margin-bottom: 0;
  color: #001933;
  line-height: 1.4;
  text-align: center;
}
.article {
  margin-bottom: 3rem;
}
.article > pre {
  margin-left: calc(var(--article-inset, 1em) * -1);
  margin-right: calc(var(--article-inset, 1em) * -1);
  padding: 1rem var(--article-inset);
  border-radius: 0.3em;
  overflow: auto;
  color: #ebedf0;
  background-color: #33383d;
}
.article > ol,
.article > ul {
  padding-left: 1em;
}
.article > .cp_embed_wrapper {
  margin: 0 calc(var(--article-inset, 1em) * -1);
}
.article p > img:first-child:last-child {
  display: block;
  margin: 0 auto;
}
.article img {
  height: auto;
}
.article__wide {
  grid-column: wide;
}
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0.5rem 0.6rem;
  font-family: Glober, Helvetica, sans-serif;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .nav-links {
    padding: 0 2em 0 0;
  }
}
.nav-links > li > a {
  display: block;
  padding: 0.4em 0.4em 0.1em;
  border: 2px solid transparent;
  border-radius: 2em;
  color: #ddedfd;
  font-size: 0.64rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transition: border-color 0.4s linear, color 0.6s linear;
  text-decoration: none;
  white-space: nowrap;
}
.nav-links > li > a:hover {
  border-color: #c0d8f2;
  color: #fff;
  transition: color 0.6s linear;
}
.nav-links > li > a.loading-indicator {
  color: transparent;
}
.nav-links > li > a.loading-indicator:before {
  position: absolute;
  top: 0.6em;
  left: 50%;
  margin-left: -0.5em;
  background-color: #ddedfd;
}
.nav-links > li + li {
  margin-left: 0.1em;
}
@media (min-width: 500px) {
  .nav-links > li > a {
    padding-left: 1em;
    padding-right: 1em;
  }
  .nav-links > li + li {
    margin-left: 0.4em;
  }
}
.nav-links__external > a:link,
.nav-links__external > a:visited {
  color: #78a4d3;
}
.note {
  padding: 1rem 2rem;
  background-color: #fff;
  font-size: 0.8rem;
  font-family: Glober, Helvetica, sans-serif;
  cursor: pointer;
}
.note.is-transparent {
  background: #00254d;
  color: transparent;
}
.note.is-transparent a:link,
.note.is-transparent a:visited {
  color: transparent;
}
.note__date {
  text-align: right;
}
.note__date > a:link,
.note__date > a:visited {
  font-weight: 100;
  text-decoration: none;
}
.note__body {
  word-wrap: break-word;
}
.note__body > :first-child {
  margin-top: 0;
}
.note__body > :last-child {
  margin-bottom: 0;
}
.note-highlight .note {
  color: #fff;
  background-color: #2b89ee;
  background-image: linear-gradient(180deg, #2b89ee, #0d57a5);
}
.note-highlight__body {
  padding: 1rem 2rem;
  border-radius: 0.3rem 0.3rem 0 0;
  color: #fff;
  background-color: #0d57a5;
  background-image: linear-gradient(180deg, #2b78ca, #0d57a5);
  word-break: break-word;
}
.note-highlight__body a:link,
.note-highlight__body a:visited {
  color: #f1ba7e;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}
.note-highlight__body a:focus,
.note-highlight__body a:hover {
  color: #eb9c47;
}
.note-highlight__body a:active {
  color: #f00544;
}
.note-highlight__footer {
  border-radius: 0 0 0.3rem 0.3rem;
  color: #001933;
  background-color: #fff;
}
.post-summary {
  height: 100%;
  padding: 2.4rem 1.56rem;
  border-radius: 0.8rem;
  border-radius: 50%/1.6rem;
  background-color: #fff;
  cursor: pointer;
}
.post-summary > :first-child {
  margin-top: 0;
}
.post-summary > :last-child {
  margin-bottom: 0;
}
.post-summary:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.post-summary.loading-indicator {
  position: relative;
}
.post-summary.loading-indicator:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  background-color: #1b3f64;
}
.post-summary__title {
  margin-bottom: 0.8rem;
  line-height: 1.1;
}
.post-summary__date {
  display: block;
  margin-top: 1em;
  color: #78a4d3;
  text-align: right;
}
.post-summary__body {
  font-size: 0.8rem;
  line-height: 1.6;
}
.post-summary__body > div > pre {
  padding: 1rem;
  border-radius: 0.3em;
  color: #ebedf0;
  background-color: #33383d;
}
.post-date {
  margin-top: 0;
  color: #78a4d3;
  font-size: 0.8rem;
  text-align: center;
}
.post-date--note {
  color: #14d2cf;
}
.post-date a:link,
.post-date a:visited {
  color: inherit;
  text-decoration: none;
}
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #b7bdc3;
}
.tabs > button {
  margin-bottom: -1px;
  padding: 0.6em 1.2em 0.4em;
  border: 1px solid #b7bdc3;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  color: #446f9c;
  background: transparent;
  font-size: 0.8rem;
  font-family: Glober, Helvetica, sans-serif;
  cursor: pointer;
}
.tabs > button svg path {
  fill: transparent;
  stroke: currentColor;
  stroke-width: 5;
}
.tabs > button.tabs__repost svg {
  width: 1.3em;
  vertical-align: -0.2em;
  stroke-width: 10;
}
.tabs > button.is-active,
.tabs > button:hover {
  background-color: #fff;
}
.tabs > button.is-active svg path,
.tabs > button:hover svg path {
  fill: currentColor;
  stroke-width: 0;
}
.tabs > button.is-active.tabs__reply,
.tabs > button:hover.tabs__reply {
  color: #2b78ca;
}
.tabs > button.is-active.tabs__like,
.tabs > button:hover.tabs__like {
  color: #f00544;
}
.tabs > button.is-active.tabs__repost,
.tabs > button:hover.tabs__repost {
  color: #007a78;
}
.tabs > button + button {
  border-left: 0;
}
.tabs > button.is-active {
  border-bottom: 0;
}
.tabs svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.3em;
}
.tab-pane {
  display: none;
  font-size: 1rem;
}
.tab-pane.is-active {
  display: block;
}
.tabs--light > button {
  border-radius: 0;
}
.tabs--light .tabs__reply {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.tab-pane--light {
  padding: 1em;
}
.tab-pane--light .tab-pane__banner {
  margin: 0 -1rem 2rem;
  padding: 0.4rem 1rem;
  background-color: #f0f5fa;
}
.footer {
  position: relative;
  z-index: 1;
  margin-top: -5px;
  padding: 2rem 1rem 3rem;
  border-top: 5px solid rgba(20, 0, 0, 0.6);
  color: #b7bdc3;
  background-color: #16191d;
  background-clip: padding-box;
  font-size: 0.8rem;
  font-family: Glober, Helvetica, sans-serif;
}
.footer svg {
  height: 1.5em;
}
.footer a:link,
.footer a:visited {
  color: #78a4d3;
  font-weight: inherit;
}
.footer a:hover {
  color: #2b89ee;
}
@media (min-width: 500px) {
  .footer {
    padding: 2rem 4rem 3rem;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 2rem 8rem 3rem;
  }
}
.footer__inner {
  max-width: 42.5rem;
  margin: 0 auto;
}
.footer-links {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.footer-links > li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.footer-links > li + li {
  margin-top: 0.5em;
}
.footer-links__icon {
  margin-top: 1em;
}
.footer-logo svg {
  height: 2em;
  margin: 1rem 0 2rem;
}
.inline-form {
  margin-bottom: 2.4rem;
  color: #446f9c;
  font-family: Glober, Helvetica, sans-serif;
  font-size: 0.8rem;
}
.inline-form > label {
  padding: 0 0.3rem;
}
.inline-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inline-form__inputs * + * {
  margin-left: 0.2rem;
}
.inline-form__inputs button,
.inline-form__inputs input {
  padding: 0.2em 1.2em;
  border: 1px solid #446f9c;
  border-radius: 0.5em;
  color: #446f9c;
}
.inline-form__inputs input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0.2em 1.2em 0.1em;
}
.inline-form__inputs input::-webkit-input-placeholder {
  color: #98a0a9;
}
.inline-form__inputs input:-ms-input-placeholder {
  color: #98a0a9;
}
.inline-form__inputs input::placeholder {
  color: #98a0a9;
}
.inline-form__inputs button {
  background-color: #ddedfd;
}
.replies {
  padding-left: 0;
  list-style-type: none;
}
.replies li + li {
  margin-top: 1.4em;
}
.replies--short {
  display: grid;
  grid-gap: 0.2em 1.4em;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
}
.replies--short li + li {
  margin-top: 0;
}
.reply {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Glober, Helvetica, sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reply__bar {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: -1rem;
  padding-right: 2em;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.8rem;
  line-height: 1;
  box-shadow: 0 2px 2px rgba(45, 134, 132, 0.16),
    0 0 0 1px rgba(45, 134, 132, 0.08);
}
a:link.reply__bar {
  text-decoration: none;
}
a:link.reply__bar .reply__author,
a:link.reply__bar .reply__date {
  padding: 0.6rem 1.3rem 0.6rem 1rem;
  color: #0d57a5;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
a:link.reply__bar .reply__date {
  position: absolute;
  top: 0.6em;
  right: 1em;
  left: 0;
  color: #98a0a9;
  font-size: 0.8rem;
  font-weight: 400;
  -webkit-transform: translateY(1em);
  transform: translateY(1em);
  opacity: 0;
  text-decoration: none;
}
.reply__bar:hover {
  box-shadow: 0 3px 8px rgba(45, 134, 132, 0.2),
    0 0 0 1px rgba(45, 134, 132, 0.08);
}
a.reply__bar:focus .reply__author,
a.reply__bar:hover .reply__author {
  -webkit-transform: translateY(-1em);
  transform: translateY(-1em);
  opacity: 0;
}
a.reply__bar:focus .reply__date,
a.reply__bar:hover .reply__date {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.reply__avatar {
  z-index: 1;
}
.reply__avatar > img {
  width: 1.7rem;
  height: 1.7rem;
  margin-top: 0.6rem;
  overflow: hidden;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 25%;
  object-position: 0 25%;
  box-shadow: 0 2px 1px rgba(16, 76, 75, 0.1);
}
.reply__avatar:focus > img,
.reply__avatar:hover > img {
  box-shadow: 0 2px 2px rgba(16, 76, 75, 0.2), 0 0 1px rgba(16, 76, 75, 0.1);
}
.comment {
  grid-gap: 0.2em 1.4em;
  grid-template-columns: 20ch auto;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.comment__author {
  grid-column: 1;
}
.comment__content {
  grid-column: 2;
  padding-left: 3em;
  word-wrap: break-word;
}
.comment__content h1,
.comment__content h2,
.comment__content h3 {
  font-size: 1rem;
}
@media (min-width: 400px) {
  .comment__content {
    padding-left: 6em;
  }
}
@media (min-width: 650px) {
  .comment {
    display: grid;
  }
  .comment__content {
    padding-left: 0;
  }
}
.comment-note {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2em auto;
  font-family: Glober, Helvetica, sans-serif;
}
.comment-note__avatar {
  grid-column-start: 1;
}
.comment-note__body {
  grid-column-start: 2;
}
.comment-avatar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 25%;
  object-position: 50% 25%;
}
.comment-author:link,
.comment-author:visited {
  color: #1b3f64;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
}
.comment-author:link:focus,
.comment-author:link:hover,
.comment-author:visited:focus,
.comment-author:visited:hover {
  text-decoration: underline;
  outline: none;
}
.comment-timestamp:link,
.comment-timestamp:visited {
  color: #78a4d3;
  font-size: 0.8rem;
  font-weight: 100;
  text-decoration: none;
}
.comment-timestamp:link:focus,
.comment-timestamp:link:hover,
.comment-timestamp:visited:focus,
.comment-timestamp:visited:hover {
  text-decoration: underline;
  outline: none;
}
.comment-body {
  color: #446f9c;
  font-size: 0.8rem;
}
.metadata {
  margin: 0 -1em 1em;
  padding: 0 1em;
  border-radius: 1em;
  border-radius: 0.3rem/50%;
  color: #727a83;
  background-color: #ebedf0;
  font-size: 0.8rem;
  font-family: Calendas Plus, Times New Roman, serif;
}
.img-banner-preview {
  width: 100%;
  height: 6rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 10%;
  object-position: 50% 10%;
}
.post-summary .img-banner-preview {
  width: calc(100% + 3.12rem);
  max-width: none;
  margin: 0 -1.56rem 0.8rem;
}
.pagination-loader {
  padding: 0.3em 0 0.2em;
  border-radius: 0.8rem;
  background-color: #fff;
  font-family: Glober, Helvetica, sans-serif;
  text-align: center;
}
.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/-1;
  grid-row: 2;
  margin: 1.56rem 0;
  padding: 3rem 2rem 3.4rem 40%;
  padding: 3rem var(--right-margin) 3.4rem 40%;
  border-radius: 50%/1.6rem;
  color: #1b3f64;
  background-repeat: no-repeat;
  background-size: auto 90vmin;
  background-color: #fff;
  background-image: url("/images/owl-tilted.jpg");
  background-position: 0 50%;
  background-position: calc(50% - 20vw) 50%;
  font-family: Calendas Plus, Times New Roman, serif;
  font-size: 1.25rem;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "swsh" 1;
  font-feature-settings: "kern" 1, "liga" 1, "swsh" 1;
  line-height: 1.2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 0 1em #001933;
}
@media (min-width: 400px) {
  .welcome {
    background-size: auto 80vmin;
    font-size: 1.56rem;
  }
}
@media (min-width: 750px) and (min-height: 600px) {
  .welcome {
    padding: 0 2rem 0.4rem 50%;
    padding: 0 var(--right-margin) 0.4rem 50%;
    font-size: 2rem;
  }
}
.latest-post {
  display: block;
  position: relative;
  grid-column: 1/3;
  grid-row: 3;
  margin-bottom: 2rem;
  margin-left: var(--right-margin);
  padding: 1em 2em;
  border-radius: 0.4rem;
  background: #fff;
  justify-self: end;
  -ms-flex-item-align: end;
  align-self: end;
  box-shadow: 0 2px 6px #001933;
}
.latest-post:link,
.latest-post:visited {
  text-decoration: none;
}
.latest-post:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 1px 3px 1em #102d4c;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.latest-post:focus:not(:hover) {
  box-shadow: 0 0 5px 5px #fd4e7d;
  outline: none;
}
.latest-post:focus:after,
.latest-post:hover:after {
  opacity: 1;
}
.latest-post > h2 {
  margin: 0;
  line-height: 1.2;
}
.latest-post.loading-indicator:before {
  left: 0.5em;
  top: calc(50% - 0.5em);
}
.latest-post_subheading {
  color: #51565d;
  font-size: 0.8em;
  text-align: right;
  font-weight: 400;
}
.latest-post__summary {
  color: #33383d;
  font-family: Calendas Plus, Times New Roman, serif;
  font-weight: regular;
}
.bottom-container {
  margin: 8rem calc(var(--article-inset, 1em) * -1) 3rem;
  padding: 1rem;
  border: 1px solid #ebedf0;
  border-width: 1px 0;
}
.bottom-container h3 {
  margin-top: 0;
}
@media (min-width: 700px) {
  .bottom-container {
    padding: 1rem 0;
  }
}
.recent-posts {
  display: grid;
  grid-gap: 0.6rem;
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
  padding-left: 0;
  font-family: Glober, Helvetica, sans-serif;
  list-style-type: none;
}
.recent-posts > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.4em 1em 1.2em;
  border-radius: 0.3em;
  color: #1b3f64;
  background-color: #ebedf0;
  transition: color 0.6s ease-out;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.recent-posts > a:hover {
  color: #2b78ca;
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.2);
}
.recent-posts > a.loading-indicator:before {
  position: absolute;
  right: 0;
}
.banner-image {
  width: calc(100% + var(--article-inset, 1em) * 2);
  max-width: none;
  max-height: 40vh;
  margin: 0 calc(var(--article-inset, 1em) * -1) 1rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-credit {
  color: #98a0a9;
  font-family: Glober, Helvetica, sans-serif;
  font-size: 0.8rem;
  text-align: right;
}
.image-credit > a:link,
.image-credit > a:visited {
  color: inherit;
  font-weight: inherit;
}
.image-credit > a:hover {
  color: #51565d;
}
.split {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.split > * + * {
  margin-top: 2rem;
}
@media (min-width: 500px) {
  .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .split > * + * {
    margin-top: 0;
    margin-left: 2rem;
  }
}
@media (min-width: 900px) {
  .split > * + * {
    margin-left: 4rem;
  }
}
.split__right {
  text-align: center;
}
@media (min-width: 500px) {
  .split__right {
    text-align: right;
  }
}
.alert {
  padding: 1em;
  border-left: 3px solid #78a4d3;
  background-color: #f0f5fa;
}
@media (min-width: 500px) {
  .alert {
    font-size: 0.8rem;
  }
}
.is-hidden {
  display: none !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.mb-md {
  margin-bottom: 1rem !important;
}
